[submodule "ergogen/footprints/infused-kim"]
	path = ergogen/footprints/infused-kim
	url = https://github.com/infused-kim/kb_ergogen_fp.git
[submodule "ergogen/footprints/ceoloide"]
	path = ergogen/footprints/ceoloide
	url = https://github.com/ceoloide/ergogen-footprints.git
